body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-dark-brown .modal-content{
  background-color: rgb(255, 215, 177);
  color: rgb(71, 46, 29);
}

.modal-dark-brown .modal-content .btn-outline-dark{
  background-color: rgb(255, 215, 177);
  border-color: rgb(71, 46, 29);
  color: rgb(71, 46, 29);
}

.modal-dark-brown .modal-header,
.modal-dark-brown .modal-footer {
  border-color: rgb(71, 46, 29);
}

.modal-dark-red .modal-content{
  background-color: #661e1c;
  color: rgb(255, 219, 219);
}

.modal-dark-red .modal-content .btn-outline-dark{
  background-color: #661e1c;
  border-color: rgb(255, 219, 219);
  color: rgb(255, 219, 219);
}


.app {
  background-color: rgb(71, 46, 29);
  height: 100vh;
  width: 100vw;
  color: white;
}

.game-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.top-menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.top-menu button {
  background: none;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.neon-sign {
  color: white;
  font-size: 10vw;
  border: 1vw solid #fff;
  box-shadow:
    0 0 0.5px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px #f00,
    0 0 8px #f00,
    0 0 10px #f00,
    0 0 12px #f00,
    0 0 15px #f00;
  color: #fff;
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #f00,
    0 0 40px #f00,
    0 0 50px #f00,
    0 0 60px #f00,
    0 0 75px #f00;
  border-radius: 2vw;
  padding: 2vw;
  margin-bottom: 15vw;
}

.last-chamber {
  color: white;
  font-size: 10vw;
  border: 1vw solid #fff;
  box-shadow:
    0 0 0.5px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px #0f0,
    0 0 8px #0f0,
    0 0 10px #0f0,
    0 0 12px #0f0,
    0 0 15px #0f0;
  color: #fff;
  text-shadow:
    0 0 3px #fff,
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #0f0,
    0 0 40px #0f0,
    0 0 50px #0f0,
    0 0 60px #0f0,
    0 0 75px #0f0;
  border-radius: 2vw;
  padding: 2vw;
  margin-bottom: 15vw;
}


.settings-button, .restart-button {
  position: fixed;
  z-index: 1000; 
  background: none;
  color: rgb(255, 215, 177);
  border: none;
  font-size: 2rem;
}

.settings-button {
  top: 10px;
  right: 10px;
}

.restart-button {
  top: 10px;
  left: 10px;
}

.trigger-container {
  height: 60vw;
  margin-bottom: 10vw;
}

.trigger {
  width: 60vw;
  height: 54vw;
  border-radius: 50%;
  border: none;
  background-color: silver;
  background: linear-gradient(to bottom, rgb(163, 163, 163), silver);
  color: rgb(68, 68, 68);
  font-size: 10vw;
  font-weight: bold;
  box-shadow: 0 4.5vw #757575;
  transition: box-shadow 0.3s;
}

.trigger:active {
  box-shadow: none;
  animation: buttonDown 1s;
}

@keyframes buttonDown {
  0% {
    box-shadow: none;
    margin-top: 4.5vw;
  }
  100% {
    box-shadow: 0 4.5vw #757575;
  }
}

.chambers {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 80vw;
  height: 100%;
  color: gold;
  font-size: 10VW;
}

.bullet {
  height: 15vw;
  width: 9vw;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 1vw solid rgb(255, 187, 105);
}

.bullet-fill {
  background: linear-gradient(to bottom, rgb(255, 227, 69), rgb(255, 245, 157));
  box-shadow:
    0 0 5px rgb(255, 255, 255),
    0 0 10px gold,
    0 0 15px gold,
    0 0 20px goldenrod,
    0 0 30px goldenrod,
    0 0 40px goldenrod;
}

@media (orientation: landscape) {
  .game-flex {
    flex-direction: row;
  }
  
  .neon-sign {
    width: 40vh;
    font-size: 10vh;
    border: 1vh solid #fff;
    border-radius: 2vh;
    padding: 2vh;
    margin-bottom: 0;
    margin-right: 15vh;
  }

  .trigger-container {
    height: 50vh;
    margin: 0;
  }

  .trigger {
    width: 50vh;
    height: 45vh;
    font-size: 8.33vh;
    box-shadow: 0 3.75vh #757575;
  }

  .trigger:active {
    animation: buttonDownLandscape 1s;
  }

  @keyframes buttonDownLandscape {
    0% {
      box-shadow: none;
      margin-top: 4.5vh;
    }
    100% {
      box-shadow: 0 4.5vh #757575;
    }
  }

  .chambers {
    font-size: 10vh;
    width: 80vh;
  }

  .bullet {
    height: 12vh;
    width: 7.2vh;
    border: 0.8vh solid rgb(255, 187, 105);
  }
}

